.App {
  text-align: center;
}

.App-logo{
  opacity: .25;
  position: relative;
  z-index: -1;
  width: 100%;
  margin-top: 150px;
}

.App-header {
  background-color: #48818f;
  height: 150px;
  padding: 20px;
  color: white;
  font-size: 35px;
  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.videoContainer {
  opacity: 0.5;
}

.html5-video-player {
  opacity: 0.5;
  z-index: -1;
}