.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    height:40px;
    border-radius:10px;
  }

  p {
    text-decoration: underline;
  }

  body {
    text-align:center;
  }

  h3{
    margin-top:10px;
    font-size:40px;
  }

  .submitLinks{
    font-size:25px;
    color:#4e6a78;
  }

  a{
    color:#4e6a78;
  }