
/*.navbar {
    font-family: 'Concert One', cursive;
}*/


/*.nav-link {
    letter-spacing: 0.0625em;
}*/

/*.nav-link:hover {
    letter-spacing: 0.0625em;
}*/

/*.navbar-brand {
    color: yellow;
}*/

/*.navbar-brand:hover {
    color: red;
}*/

/*.navbar-brand:hover {
    color: red;
}*/

/*.navbar-brand {
    color: yellow;
}*/

/*.navbar-nav>li>a {
    color: yellow;
}*/


/*.navbar-item>li>a {
    color: yellow;
}*/

/* .navbar {
  background-color: #dfd7af;
}
*/


