.navbar {
    background-color: rgb(19, 75, 77);
    height: 75px;
}


.navbar-inverse .navbar-brand:hover {
    color: red;
}

.navbar-inverse .navbar-brand {
    color: yellow;
}

.navbar-inverse .navbar-nav>li>a {
    color: yellow;
}

.navbar {
  background-color: #dfd7af;
}